mat-form-field {
  display: block;
}
.payment-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.pdf-viewer {
  height: 100vh;
  display: block;
  max-width: 1200px;
  margin: 0 auto;
}
